.home-container {
    padding: 20px;
    text-align: center;
    /* background-color: #E0F7FA; */
    /* height: 90vh; */
    /* background: linear-gradient(135deg, #1E90FF, #87CEFA); */
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.search-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0; 
}

.digimon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.digimon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 400px;
    text-align: center;
    /* background-color: #ffffff; */
    background: linear-gradient(135deg, #1E90FF, #87CEFA);
}

.digimon-image {
    width: 210px;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

button {
    background-color: #133355;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}
