body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.home-container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77);
    color: #ffffff;
}

.loading-container{
     background: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77);
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-container {
    margin-top: 20px;
}


.search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px; 
    font-size: 18px; 
    margin: 0 5px;
    border-radius: 8px;
    cursor: pointer;
}

.search-container button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.search-container button:hover:not(:disabled) {
    background-color: #0056b3;
}

.digimon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.text-not-found{
    padding: 20vh 0;
    font-size: 2em;
}
